<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>港岛妹妹</title>
    <meta name="keywords" content="港岛妹妹，网易云音乐，李志"/>
    <meta name="desc" content="港岛妹妹，网易云音乐，李志"/>
    <style>
        body {
            margin: 20px
        }

        h1 {
            font-family: PingFangSC-Semibold;
            font-size: 30.22px;
            color: #4A4A4A;
            text-align: left;
        }

        p {
            /* 那些我爱过的姑娘哟 像雨 像风 像天上的: */
            font-family: PingFangSC-Regular;
            font-size: 15.16px;
            color: #8C8C8C;
        }
    </style>
</head>
<body>
<h1>
    港岛妹妹
</h1>
<p>
    那些我爱过的姑娘哟<br>
    像雨 像风<br>
    像天上的月亮
</p>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
        src="//music.163.com/outchain/player?type=2&id=26508186&auto=1&height=66"></iframe>
<hr>
<form action="/" method="post">
    <label>name:</label> <input type="text" name="name">
    <label>text:</label> <input type="text" name="text">
    <input type="submit">
</form>
<div style="margin-top: 20px">
    {% for i in messages %}
        <div>
            {{ i.name }}: {{ i.text }}
        </div>
        <br>
    {% endfor %}
</div>
</body>
</html>